/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
border-radius: 4px;
background: #fff;
}
.countries{
  border:7px solid #d3d3d3;
    height: 200px;
  padding: 0;
    margin: 0;
    list-style-type: none;
    width: 400px;
}

.country{
  border:1px solid #d3d3d3;
     padding: 10px;
}

