/* Try different box model properties below */

body{
    background-color: #F8F8F8;
    border: 0.7rem solid black;
    line-height: 0.7em;
    }

    .site-header{
        background-color: #08A8F0;
        box-sizing: border-box;
        width: 100%;
        height: 80px;
        border: 1px;
    }
    
    .message:first-child{
        border: 1px;
        background-color: white;
        margin-bottom: 0.7rem;
    }

    .site-header > p, .site-header__title{
        color: white;
        font-size: 18px;
    }

    .message:last-child{
        box-shadow: 4px 4px 0 #dba944;
    }

.site-footer > p{
    font-size: 12px;
    text-align: center;
}



/*


.message  .message-author p{
    margin-bottom: 0px;
}

.site-wrapper{
    margin-bottom: 25px;
}


.site-footer > p{
    font-size: 12px;
    text-align: center;
}*/