.site-wrapper{
    border: 10px solid black;
    padding: 0;
    margin: 0;
    width: 500px;
    height: 500px;
}
.site-header{
    background-color: #08A8F0;
    height: 70px;
    padding: 4px;
}
.site-header > p ,.site-header__title {
    color: white;
}
.site-footer > p{
  font-size: 12px;
  text-align: center;
}
.message{
      border: 10px solid #d3d3d3;
      margin: 0;
      padding: 0;
}
div time{
  text-align: right;
}