/* Add your CSS code below */
.site-wrapper{
    line-height: 1.5em;
}
.link--map  {
    color: red;
    font-weight: bold;
    text-decoration: none;
}
.link--gif{
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.message__time {
    font-size: 0.9rem;
}

.message--unread{
    border-left: 5px solid blue;
}

.message--old{
    opacity:0.5;
}