.countries {
  display: flex;
}

/* Add your own CSS code below */
.countries--first{
  list-style: none;
}
.countries--first .country--brazil{order: 4;}

.countries--second{
  list-style: none;
}

.countries--second .country--brazil{order: 4;}
.countries--second .country--uganda{order: 5;}

.countries--third{
  list-style: none;
}

.countries--third .country--laos{order: 2;}
.countries--third .country--ethiopia{order: 3;}
.countries--third .country--croatia{order: 4;}
.countries--third .country--brazil{order: 5;}
